/* */

:root{
    --main-font:'Montserrat', sans-serif;
    --bg-color:  rgba(255, 255, 255, 0.1);
   
}
body{
background-image: url(WEB/BACKGROUND.jpg);
background-size: cover;
background-repeat: no-repeat;
    margin: 0 auto;
    
}
.sana{
    font-family: var(--main-font);
    font-size: 60px;
}
.front-end{
    font-family: var(--main-font);
    font-size: 40px;
    
}
.container{
    color:white ;
}
.row{
    margin-top: 0px;
}
.image{
padding-left: 0px;
}

.heading{
margin-top: 150px;
}
.icons{
    margin-left: 30px;
    
}
.free-line
{
    padding: 0px;
}
a{
    
    margin: 0px 1px;
    padding: 5px 0;
}
.navbar{
    background-color:var(--bg-color);
padding: 0px;
color: white;
}
.navbar-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.about{
    text-align: left;
    color:  white;
    margin-top: 20px;
    margin-left: 20px;
}
.p-about{
    color: white;
    margin-left: 20px;}

.web{
    margin-top: 10px;
   margin-left: 150px;
}
.btn{
margin: 7px 0;
}
.project{
     color: white;
   margin-left: 50px;
}

.images-content{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.calculator {
    position: absolute;
    left: 355px;
    top: 190px;
    color: White;
    
  }
  .portfolio-website{
    position:absolute;
    top: 190px;
    right:160px;
    color: white;
  }
  .weather{
    position: absolute;
    left: 355px;
   top: 459px;
   color: white;
  }
  .anime{
    position: absolute;
    top: 455px;
    right:190px;
    color: white;
  }
  .contact{
    margin-top: 50px;
  }
  #name ,#email-address , #message {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
    background-color: var(--bg-color);
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
  }
  
  #send{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--bg-color);
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
    width: 80px;
  }
 #link ,#insta ,#fb , #git {
    background-color: var(--bg-color);
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
    
 }
 #icons{
    color:white;
    font-size: 20px;
 }