/* */

:root{
    --main-font:'Libre Franklin', sans-serif;
}
body{
background-color: black;
    margin: 0 auto;
    
}
.container{
    color:aqua;
}
 .image{
    margin-top: 220px;
}
.heading{
margin-top: 300px;
}
