/* */

:root{
    --main-font:'Montserrat', sans-serif;
    --bg-color:  rgba(255, 255, 255, 0.1);
   
}
body{
background-image: url(WEB/BACKGROUND.jpg);
background-size: cover;
background-repeat: no-repeat;
    margin: 0 auto;
    
}
.sana{
    font-family: var(--main-font);
    font-size: 60px;
    margin-bottom: 0;
    font-weight: bold;
    
}
.front-end{
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top:0;
}
h4{
    font-family: var(--main-font);
    font-size:38px;
font-weight: bold;
}
p{
    font-family: var(--main-font);
    font-size: 20px;
    
}
.logo{
    text-align: center;
    margin-bottom: 0px;
   
}
.nav-item{
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 25px;
}
.home1,.contact1 , .about1 , .project1{
    text-decoration: underline;
    
}
.container{
    color:white ;
}
.row{
    margin-top: 0px;
}
.image{
padding-left: 0px;
}

.heading{
margin-top: 150px;
}
.icons{
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.free-line
{
    padding: 0px;
}
a{
    
    margin: 0px 1px;
    padding: 5px 0;
}
.navbar{
    background-color:var(--bg-color);
padding: 0px;
color: white;
}
.navbar-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.about{
    text-align: left;
    color:  white;
    margin-top: 20px;
    margin-left: 20px;
}
.p-about{
    color: white;
    margin-left: 20px;}

.web{
    margin-top: 10px;
   margin-left: 150px;
}
.btn{
margin: 7px 0;
background-color: var(--bg-color);
color: white;
padding: 1px 10px;

}
.project{
     color: white;
   margin-left: 50px;
}

.images-content{
   flex: 1;
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.images-content:hover{
    transform: scale(1.3);
}
.projects-heading{
    font-family: var(--main-font);
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-left: 0px;

}
.col-lg-6{
    display: flex;
    align-items: flex-start;
}
.project-images{
    text-align: center;
}


  
  .contact{
    margin-top: 50px;
    font-family: var(--main-font);
    font-weight: bolder;
  }
  #name ,#email-address , #message {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
    background-color: var(--bg-color);
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
    font-family: var(--main-font);
  }
  #thankYou{
    text-align: center;
    font-family: var(--main-font);
    font-size: 45px;
    color:white;
  }
  
  #send{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--bg-color);
    border: 1px solid transparent;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
    width: 80px;
  }
 #link ,#insta ,#fb , #git {
    background-color: var(--bg-color);
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px;
    font-family: var(--main-font);
    font-weight: bold;
    
 }
 #icons{
    color:white;
    font-size: 20px;
 }
 .skills
 {
    margin-left: 30px;
 }
 .certification{
    padding: 10px;
    border: 1px solid #312F57;
    background-color: #312F57;
    border-radius: 7px;
    margin-left: 10px;
 }
 .certification:hover{
   transform: scale(1.3);
 }
 @media(max-width:600px){
    #name ,#email-address , #message{
        width: 250px;
    }
 }
@media(max-width:768px){
    .p-about{
        font-size: small;
    }
    .image{
       display: none;
    }
    p{
        font-size: small;
    }
    
   

}